@model Student
@{
    ViewBag.Title = "Create Std";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1 class="alert alert-dark text-center">Add New Studnet</h1>
    <form method="post" class="row g-3">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>

        </div>
        <div class="col-md-6">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control">
            <span asp-validation-for="Address"></span>

        </div>
        <div class="col-md-12">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email"></span>

        </div>
        <div class="col-md-6">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password"></span>

        </div>
        <div class="col-md-6">
            <label asp-for="Cpassword" class="form-label"></label>
            <input asp-for="Cpassword" class="form-control">
            <span asp-validation-for="Cpassword"></span>

        </div>
        <div class="col-md-6">
            <label asp-for="Age" class="form-label"></label>
            <input asp-for="Age" class="form-control">
            <span asp-validation-for="Age"></span>

        </div>
        <div class="col-md-6">
            <label asp-for="DeptId" class="form-label"></label>
            <select asp-for="DeptId" asp-items="ViewBag.Depts" class="form-control">
            </select>
            <span asp-validation-for="DeptId"></span>
        </div>
        <div class="col-12">
            <button type="submit" onclick="return confirm('Are You Sure')" class="btn btn-info">Add</button>
            <button type="reset" onclick="return confirm('Your Data Will Be Lost')" class="btn btn-warning">Reset</button>
            <a href="/Students/Index" class="btn btn-primary"> Back</a>

        </div>

    </form>
    @section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
   
</body>
</html>
